
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,700;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@700&display=swap');

/*
COLORS
San Juan #BFBFBF
Faded Jade #020126
Wild Sand #D7F205
Alto #C0D904
Mine Shaft #93A603
*/
.san-juan {
    background-color: #BFBFBF;
}
.faded-jade {
    background-color: #020126;
}
.wild-sand {
    background-color: #D7F205;
}
.wild-grape {
    background-color: #85017A;
}

.alto {
    background-color: #C0D904;
}
.alto {
    background-color: #C0D904;
}
.mine-shaft{
    background-color: #93A603;
}
/*
GLOBAL
*/
* {
    padding: 0;
    margin: 0;
}
html, body {
    height: 100%;
    padding: 0px;
    margin: 0px;
    font-family: Cabin, Arial, Helvetica, sans-serif;
    color: #020126;
    background-color: #efefef;
}

/*
LOGO
*/

.logo {
    text-align: center;
    margin-top: 25px;
}
.logo img {
    margin: auto auto;
}



/*
TYPEOG
*/

.light {
    color: #BFBFBF;
}

.dark {
    color: #020126;
}

.price {
    padding: 5px;
    background-color: #85017A;
    line-height: 2;
}

.callout {
    text-align: center;
    border: 3px solid #C0D904;
    padding: 25px;
    background: #020126;
    border-radius: 25px;
    margin: 25px;
    font-family: 'Fira Mono', monospace;
    font-size: 1.0em;
    line-height: 1.45;
}

.lead {
    border-left: 5px dashed white;
    border-right: 5px dashed white;
    margin: 5px;
    padding: 25px;
    border-radius: 21px;
    letter-spacing: 2px;
    text-rendering: optimizelegibility;
    font-style: italic;
}

.underline {
    text-decoration: underline solid #93A603;;
    text-underline-position: under;
}

h1 {
    font-size: 3.0rem;
    font-weight: 700;
    padding-bottom: 2%;
}

h2 {
    font-size: 2.75rem;
    font-weight: 700;
    padding-bottom: 2%;
}

h3 {
    font-size: 2.5rem;
    font-weight: 700;
    padding-bottom: 2%;
}

h4 {
    font-size: 2.0rem;
    font-weight: 700;
    padding-bottom: 2%;
}

h5 {
    font-size: 1.5rem;
    font-weight: 700;
    padding-bottom: 2%;
}

h6 {
    font-size: 1.0rem;
    font-weight: 700;
    padding-bottom: 1%;
}

p {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.9;
    padding-bottom: 2%;
    word-spacing: 1px;;
}

.list > ul > li {
    
    list-style-position: inherit;
    margin-left: 15px;
    margin-bottom: 10px;
    
}
  
.font-light {
    font-weight: 300;
}

.font-regular {
    font-weight: 400;
}

.font-heavy {
    font-weight: 700;
}

/*
HELPERS 
*/

.bots-right {
    float: right;
    padding: 25px;
    max-width: 110px;
}
.bots-left {
    float: left;
    padding: 25px;
    max-width: 110px;
}

.m-t-sm {
    margin-top: 10px;
}

.m-t-md {
    margin-top: 20px;
}

.m-t-lg {
    margin-top: 30px;
}

.m-t-xl {
    margin-top: 50px;
}

.m-r-sm {
    margin-right: 10px;
}
.m-r-md {
    margin-right: 20px;
}
.m-r-lg {
    margin-right: 30px;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/*
LAYOUT
*/
.wrapper {
    margin-left: -25px;
    margin-right: -25px;
    padding-top: 25px;
    padding-bottom: 50px;
}

.parent {
display: flex;
height: 215px; /* Or whatever */
}
  
.child {
width: 65px;  /* Or whatever */
height: 65px; /* Or whatever */
margin: auto;  /* Magic! */
}

.iconize {
    background: linear-gradient(367deg, rgba(255 255 255 / 100%), #85017a);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 33px;
    padding: 25px;
    border: 2px solid #ffffff85
}  

.content-body {
    padding-bottom: 50px;
}

#masthead {
    position: sticky;
    z-index: 1000;
    top:0;
    margin-left: 225px;
    padding: 0px;
    min-height: 100px;
    background-color: #D7F205;
    transition: margin .3s;
    transition-timing-function: ease-out;
}

.heading {
    padding: 1em;
}

.pull-right {
    float: right;
  
}
.pull-left {
    float: left;
   
}

#masthead .btn {
    padding: 16px 26px;
    margin: 20px;
    margin-left: -40px;
    border-radius: 25px;
    background-color: #020126;
    color: white;
    text-decoration: none;
    font-weight: 700;
    border: 3px solid #93A603;
    font-size: 1.0em;
    letter-spacing: 1px;
    transition: 0.3s;
    z-index: 10;
    position: relative;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#masthead .btn:hover {
    border: 3px solid white;
}

ul.navigation li {
    letter-spacing: 1px;
    text-transform: uppercase;
}


#mobile-menu ul.navigation li a:hover {
    display: inline-block;
    width: -webkit-fill-available;
    background-color: #020126;
    color: white;
    padding: 20px;
    border-top: 1px solid #020126;
    margin: 0px;
}

#main-menu ul.navigation li a:hover {
    display: inline-block;
    width: -webkit-fill-available;
    background-color: #020126;
    color: white;
    padding: 20px;
    border-top: 1px solid #020126;
    margin: 0px;
}

ul.navigation li:last-child {
    border-bottom: 1px solid #020126; 
}

/*
order
padding-top
padding-right
padding-bottom
padding-left
*/

#main {
    margin-left: 225px;
    padding: 0px 25px 0px 25px;
    height: auto;
    position: relative;
    max-width: 100%;
    transition: margin .3s;
    transition-timing-function: ease-out;
}

#footer {
    text-align: center;
    position: absolute;
    background-color: #020126;
    color: white;
    bottom: 0;
    width: 225px;
    padding-top: 30px;
}
#footer .social {
    display: inline-block;
    padding: 10px;
    margin: 5px;
    border-radius: 25px;
    background-color: #C0D904;
    border: 3px solid #C0D904;
}
#footer .social:hover {
    cursor: pointer;
    border: 3px solid white;
}

#footer .links {
    padding: 10px;
    margin: 5px;
    color: #C0D904;
    letter-spacing: 1px;
    font-size: .835em;
    text-decoration: none;

}

#footer .links a:hover {
    text-decoration: underline;
    cursor: pointer;
}


/*
SIDEBAR
*/

#side-bar {
    width: 223px;
    position: fixed;
    height: 100%;
    left:0;
    background-color: #D7F205;
    float: left;
    border-right: solid 2px #020126;
    font-weight: 500;
    transition: margin .3s;
    transition-timing-function: ease-out;
}

/*
NAV
*/
.nav-button {
    padding: 5px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    cursor: pointer;
    font-size: 1.4em;
}

#main-menu ul.navigation li a {
    display: inline-block;
    width: -webkit-fill-available;
    background-color: transparent;
    padding: 20px;
    border-top: 1px solid #020126;
    margin: 0px;
    text-decoration: none;
    color: #020126;
    text-align: center;
    font-weight: 700;
}

#mobile-menu ul.navigation li a {
    display: inline-block;
    width: -webkit-fill-available;
    background-color: transparent;
    padding: 20px;
    left: 8px;
    border-top: 1px solid #020126;
    margin: 0px;
    text-decoration: none;
    color: #020126;
    text-align: right;
    font-weight: 700;
    position: relative;
}


/*FORM*/
.form-wrapper {
    margin-right: 10%;
}

.form-input {
    width: 100%;
    height: 2em;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 1.0em;
}

.form-submit {
    padding: 16px 26px;
    margin: 20px 0px;
    border-radius: 25px;
    background-color: #020126;
    color: white;
    text-decoration: none;
    font-weight: 700;
    border: 3px solid #93A603;
    font-size: 1.0em;
    letter-spacing: 1px;
    transition: 0.3s;
    width: 100%;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.form-submit:hover {
    border: 3px solid white;
}


/*
MEDIASCREEN
*/
/* for mobile */
@media screen and (max-width: 600px) {

   /**/

  }